* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style-type: none;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  color: var(--medium-gray);
  font-weight: var(--font-weight-medium);
  font-size: var(--fontSize-nav);
}
:root {
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --almost-white: hsl(0, 0%, 98%);
  --fontSize-paragraph: 18px;
  --fontSize-nav: 16px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.container {
  width: 100%;
  height: 100vh;
}

/* css  for navigation start*/

nav {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  border: 2px solid red;
}

.logo-menu-container {
  width: 80%;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.logo-menu-container .logo {
  font-size: 2.6rem;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.profile {
  text-align: center;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-weight: var(--font-weight-medium);
  /* border: 2px solid red; */
}
.profile #login {
  background-color: transparent;
  border: none;
  color: var(--medium-gray);
  font-size: var(--fontSize-nav);
  margin-right: 18px;
  transition: all 0.3s linear;
  border: 2px solid var(--medium-gray);
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
}

.profile #register {
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  border: 2px solid var(--medium-gray);
  border-radius: 10px;
  color: var(--medium-gray);
  font-size: var(--fontSize-nav);
  transition: all 0.3s linear;
}
.profile #register:hover {
  background-color: var(--medium-gray);
  color: white;
}
/* css  for navigation end*/
